html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family:'Kranky', cursive;
   }
/*top link menu*/
#head_link {
  padding-right: 15px;
  font-size: 20px;
  color: white;
  width: 100%;
  text-decoration: none;
}

div.link_menu {
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  position: fixed;
  color: black;
  display: flex;
}
/*title area*/
h1#title {
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
}
/* Search Form Area*/

input {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: red;
    padding: 5px 20px 5px 5px;
    margin-top: 30px;
}

.subtitle {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.submit {
  height: 30px;
  width: 80px;
  font-size: 14px;
  text-align: center;
}

div.search{
  text-align: center;
  background-color: black;
  margin: 0;
  color: white;
  height: auto;
  padding-bottom: 20px;
}
li {
  padding-left: 10px;
}
#filters {
  display: flex;
    background-color: black;
    list-style: none;
    font-size: 20px;
    height: auto;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
#filters:hover {
  cursor: pointer;
  color: red;
}
.xFilter {
  text-align: center;
  background-color: transparent;
  border: none;
  width: auto;
  font-size: 20px;
  color: white;
}
.xFilter:hover {
  cursor: pointer;
  color: red;
}
label {
  margin-left: 20px;
  font-size: 20px;
}

  /*main image*/
div.title {
background-size: 100% 100%;
background-image:url("https://images.pexels.com/photos/76093/pexels-photo-76093.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
height: 750px;
width: 100%;
margin: 0 auto;
background-color: black;
}


.results_title, h2 {
  background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 50px;
  text-align: center;
}

.recipes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.recipes {
  margin: 0 auto;
  border: 2px, 0px solid black;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 340px;
}

/*results image*/
.image {
  margin-top: 20px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  background-color: #F2F2F2;
  box-shadow: 10px 10px 5px #888888;
}
/*results name*/
.recipe {
  margin: 20px 20px 0 20px ;
  text-align: center;
  font-size: 16px;
}
.link {
  text-decoration: none;
  color: black;
}

footer {
  padding: 0 0 10px;
  background: black;
  color: white;
  width: 100%;
}

@media (max-width: 900px) {
  div.title {
    width: 900px;
  }
}
