
section #head {
  padding-bottom: 5px;
}

.show_name {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 26px;
}

.show_image {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.show_image img{
  display: block;
  padding: 20px;
  background-color: #F2F2F2;
  width: 500px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
}
.show_directions .directions {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 8px;
  padding: 0;
}

.directions:hover {
  color: #F55
}

.directions p {
  display: block;
  font-weight: bold;
}
.show_ingredients {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 8px;
  padding: 0;
}

.ingredients-header {
  margin-top: 0;
  padding-top: 0;
}

p {
  text-align: center;
}

footer {
  padding: 10px 0 10px;
  background: black;
  color: white;
  width: 100%;
}
