<section id='head'>
<div class='link_menu'>
<a id='head_link' data-ui-sref="recipesIndex" style= 'text-decoration: none';>Recipes</a>
</div>
</section>

<h2>Edit {{vm.recipe.name}}</h2>

<form>
  <div class="input_name">
    <input placeholder="Name" data-ng-model="vm.recipe.name" />
  </div>
  <div class="input_photo">
    <input placeholder="Photo URL" data-ng-model="vm.recipe.photo_url" /><br>
  </div>
  <div class="input_description">
    <textarea id='test' rows="8" cols="80" form="usrform" placeholder="Description" data-ng-model="vm.recipe.description"></textarea><br>
  </div>
  <div class="buttons">
    <button type="submit" data-ng-click="vm.update()"  >Update</button>
    <button type="submit" data-ng-click="vm.destroy()" >Cancel</button>
  </div>
</form>

<pre>
  <p class="edit_name">{{vm.recipe.name | json}}</p>
  <p class="edit_image"><img src="{{vm.recipe.photo_url }}" alt=""></p>
  <textarea class="edit_description" name="name" rows="8" cols="80">{{vm.recipe.description | json}}</textarea>
</pre>
